* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --base-font-size: 16px;
  --base-width: 48rem;
  --base-font-family: supria-sans;
  --base-horizontal-gutter: 40px;
  --base-vertical-gutter: 20px;

  --color-pink: #E25353;
  --color-dark-red: #A12828;
  --color-light-pink: #FFBABA;
  --color-yellow: #FFEF5C;
  --color-ground: #924F01;
  --color-orange: #FF9E2D;
  --color-white: #FFFDF7;
  --color-light-grey: #F8F5EC;
  --color-grey: #F1EBDA;
  --color-gold: #695C37;

  --font-weight-light: light;
  --font-weight-bold: bold;
  --font-weight-black: 900;

  --border-radius: 10px;

  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
;
}

html {
  font-family: var(--font-family);
}

/* Colors */
.c-pink { color: var(--color-pink) }
.c-dark-red { color: var(--color-dark-red) }
.c-light-pink { color: var(--color-light-pink) }
.c-yellow { color: var(--color-yellow) }
.c-ground { color: var(--color-ground) }
.c-orange { color: var(--color-orange) }
.c-white { color: var(--color-white) }
.c-gold { color: var(--color-gold) }
.c-light-grey { color: var(--color-light-grey) }
.c-grey { color: var(--color-grey) }

/* Background Colours */
.bg-pink { background-color: var(--color-pink) }
.bg-dark-red { background-color: var(--color-dark-red) }
.bg-light-pink { background-color: var(--color-light-pink) }
.bg-yellow { background-color: var(--color-yellow) }
.bg-ground { background-color: var(--color-ground) }
.bg-orange { background-color: var(--color-orange) }
.bg-white { background-color: var(--color-white) }
.bg-gold { background-color: var(--color-gold) }
.bg-light-grey { background-color: var(--color-light-grey) }
.bg-grey { background-color: var(--color-grey) }

/* Margins */
.mt { margin-top: var(--base-horizontal-gutter); }
.mt2 { margin-top: calc(var(--base-horizontal-gutter) * 2); }
.mt- { margin-top: calc(var(--base-horizontal-gutter) / 2.5); }
.mb { margin-bottom: var(--base-horizontal-gutter); }
.mb- { margin-bottom: calc(var(--base-horizontal-gutter) / 2.5); }
.mr { margin-right: var(--base-vertical-gutter); }
.mr- { margin-right: calc(var(--base-vertical-gutter) / 2.5); }
.ml { margin-left: var(--base-vertical-gutter); }
.mt0 { margin-top: 0; }

/* Paddings */
.pt { padding-top: var(--base-horizontal-gutter); }
.pb { padding-bottom: var(--base-horizontal-gutter); }
.pr { padding-right: var(--base-vertical-gutter); }
.pl { padding-left: var(--base-vertical-gutter); }

/* Font weights */
.fw-light { font-weight: var(--font-weight-light); }
.fw-bold { font-weight: var(--font-weight-bold); }
.fw-black { font-weight: var(--font-weight-black); }

/* Font Sizes */
.fs12 { font-size: calc(var(--base-font-size) - 2) }
.fs16 { font-size: 16px }
.fs24 { font-size: 24px }
.fs20 { font-size: 20px }

/* Display */
.db { display: block; }
.dib { display: inline-block; }
.df { display: flex; }
.dt { display: table; }

/* Flex Helpers */
.ais { align-items: flex-start; }
.aic { align-items: center; }
.aie { align-items: flex-end; }

.jcs { justify-content: flex-start; }
.jcc { justify-content: center; }
.jce { justify-content: flex-end; }

/* Text styles */
.tl { text-align: left }
.tc { text-align: center }
.tr { text-align: right }

.ttu { text-transform: uppercase; }

.group {
  max-width: 400px;
  margin: 0 auto;
  padding: 0 var(--base-vertical-gutter);
}

.list-item {
  list-style: none;
}

.form-input {
  -webkit-appearance: none;
  border: 0;
  border-radius: 0;
  outline: 0;
  width: 100%;
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.05);
  transition: border-color 300ms linear;
  padding: 10px;
  border-radius: var(--border-radius);
  min-height: 50px;
}

.form-input-textarea {
  min-height: 150px;
}

::placeholder {
  color: var(--color-gold);
  opacity: 0.5;
}

.form-input:focus  {
  border-color: rgba(0, 0, 0, 0.1);
}

.btn {
  border: 0;
  font-family: var(--font-family);
  font-size: 18px;
  background-color: var(--color-orange);
  display: block;
  width: 100%;
  text-align: center;
  border-radius: var(--border-radius);
  color: var(--color-white);
  cursor: pointer;
  height: 50px;
  transition: background-color 250ms ease-in-out;
  font-weight: var(--font-weight-bold);
}

.list {
  line-height: 1.8;
}

.list li {
  position: relative;
  padding-left: 15px;
  margin-bottom: 10px;
}

.list li::before {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  width: 4px;
  height: 4px;
  background: var(--color-pink);
  content: "";
  border-radius: 100px;
}